<footer class = 'footer'>
  <div class = 'wrap pt-1'>
    <div class = 'grid-4'>
      <div>
        <h3>CONTACTS</h3>	
        <div class = 'contact' id = 'contact'>
          {{ site.data.contact.details | markdownify }}
        </div>
      </div>
      <div>
        <h3 class = ''>LINKS</h3>
        <div class = 'footer_links'>
          {%- for item in site.data.menu -%}
          {%- assign link = item.link | slugify | downcase -%}
          <a href = '{% if link == "home" %}/{% else %}/{{ link }}/{% endif %}'><img src = '/assets/icons/front.svg' alt = 'icon'>{{ item.link }}</a>
          {%- endfor -%}
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class = 'wrap'>
      <div>
        <p>Copyright © <span class = 'year'></span> {{ site.title }}. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>