<div>
  <div class = 'menu_toggle'>&#9776;</div>
  <header class = 'nav_header'>
    <div class = 'wrap nav_flex nav_menu'>
      <div>
        <a href = '/' title = '{{ site.title }}' rel = 'home' class = 'nav_brand logo'>
          <img src = '/assets/images/logo.svg' alt = '{{ site.title }}' />
          {{ site.title }}
        </a>		
      </div>
      <nav>
        <ul class = 'nav navbar-nav side-nav'>
          {% for item in site.data.menu %}
          {%- assign link = item.link | slugify | downcase -%}
          <li class = 'menu_item {% if page.permalink == link %}menu_current {% endif %} {% if item.submenu %} menu_parent {% endif %}'>
            <a href = '{% if link == "home" %}/{% else %}/{{ link }}/{% endif %}' class = 'menu_link'>{{ item.link | upcase }}</a>
            {% if item.submenu %}
            <ul class = 'menu_child'>
              {% for subs in item.submenu %}
              {%- assign subLink = subs | slugify | downcase -%}
              <li class = 'menu_item'><a href = '/{{ subLink }}/' class = 'menu_link'>{{ subs | upcase }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
</div>
