*{
  &,&::after,&::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-size: 16px;
  font-family: $font;
}
main {
  min-height: 75vh;
  padding-top: 40px;
  background: $mute;
  @media screen and (min-width: 769px) {
    padding-top: 72px;
  }
  li {
    padding: 0.5rem 0;
    p {
      padding: 0;
      line-height: inherit;
    }
  }
}
a{
  color: inherit;
  transition: all 0.3s;
  text-decoration: none;
  &:hover{
    opacity: 0.9;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.3rem 0;
  font-weight: 500;
  line-height: 1.4;
  color: $darker;
}
h1, h2 {
  font-weight: 400;
}
p {
  line-height: 1.6;
  padding: 0.75rem 0;
  max-width: 960px;
}
ul, ol {
  padding-left: 20px; 
}
img {
  border: 0;
  height: auto;
	max-width: 100%;
}
textarea {
  resize: none;
}
label{
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
::selection {
  color: initial; 
  background: transparent;
}
nav {
  ul {
    padding: 0;
  }
}
.item, tr {
  @extend %item;
}
.item {
  display: block;
}
thead tr{
  padding: 0;
}
tr, td {
  cursor: pointer;
}
td,th {
  text-align: left;
  vertical-align: super;
}
td {
  padding:1rem;
}
th {
  padding: 1rem 2rem;
}
th, thead {
  background: $shade;
  color: $light;
}
.content a {
  text-decoration: underline;
  transition: opacity 0.3s ease-out;
  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

acronym {
  text-transform: uppercase;
}