$light: #fff;
$bright: #f26a30;
$darker: #000;
$dark: #242a33; // #252525
$pale: #444;
$shade: rgb(242, 55, 69);
$mute: darken($light, 3%);
$dull: #eaeaea;
$font: 'MetroPolis', sans-serif;

%item {
  &{
    padding: 1rem;
    background: $dull;
    transition: all 0.3s ease-in-out;
  }
  &:nth-child(even){
    background: $light;
  }
  &:hover {
    box-shadow: 0 0 3rem rgba($darker, 0.17);
  }
}