---
layout: default
---
<div class = 'wrap_min mt-2 mb-2 pb-2'>
  <div class = 'content'>
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
  <br>
  <h3>DOWNLOADS</h3>
  <a href = '/assets/pdfs/{{ page.pdf.url }}' download = '{{ page.pdf.name | default: "sample.pdf"}}'  class = 'btn'>Download PDF</a>
  <!-- {% include share.html %} -->
  <br><br>
  <h3>CATEGORIES</h3>
  {% assign categories = page.categories %}
  {% for category in categories %}
    <a href = '/category/{{ category | slugify }}' class = 'btn'>{{category}}</a>
  {% endfor %}
</div>
